:root {
  --bg: #f2f2f2;
  --text: #000000;
  --aside: #d6e5fa;
  --link: #fffde0;
  --bar: #fdb59f;
  --inner-btm: inset 0 -10px 15px 0;
  --inner-top: inset 12px 8px 16px;
  --outer: 0 35px 65px 0;
}
